node_modules
security/server/api/.env
server-registry/.DS_Store
sneakers/client/.DS_Store
.env
documents/.DS_Store
security/.env
core/server/repositories/.DS_Store
sneakers/client/.DS_Store
sneakers/.DS_Store
security/client/login/.DS_Store
security/server/api/.env
sneakers/server/.DS_Store
