* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan';
}


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
 

}

header {
  
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: #ffffff;
  color: rgb(27,27,27);
  height: 95px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

div.triangle-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -6px;
  position: fixed;
  
}

.triangle-down {
    height: 1000px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    z-index: 0;
  }

main {
  position: fixed;
  top: 90px;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  height: 100%;
  width: 100%;
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../images/sneaker_wall_background-1.webp") no-repeat center center fixed;
  background-size: auto, cover;
  background-color: black;
  background-position: 50% 50%;
  min-width: 1280px;
  min-height: 800px;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  width: 100%;
  height: 60%;
}

#bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

#login-or-register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

form {
  color: white;
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content:flex-end; 
  align-items:center;
  min-width: 400px;
}

#notification-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  text-align:left;
  background-color: transparent;
  color: transparent;
  border: none;
  font-size: medium;
  outline: none;
  visibility: hidden;
  margin-top: 50px;
  
}

#notification-window.show {
  color:white;
  visibility: visible;
}


form h1 {
  font-family: 'League Spartan', sans-serif;
  text-shadow: rgba(255, 255, 255, 0.2) 2px 2px 2px;
  line-height: 1.42;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 330px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  width: 150px;
  height: 50px;
  color: rgb(27,27,27);
  background-color: white;
  border: none;
  margin: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

input[type='text'] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #232323;
  color: #232323;
  padding-left: 5px;
  background-color: snow;
  font-size: 18px;
  outline: none;
 
}

input[type='password'] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #232323;
  color: #232323;
  background-color: snow;
  padding-left: 5px;
  font-size: 18px;;
  outline: none;
  
}
  
input:autofill {
    background: #fff;
}

#user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 
.username {
  font-size: 18px;
  margin: 5px 0;
  
}

.default-text {
  margin: 5px 0;
}

