* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan';
}

html {
  /* settings to keep background filling the page */
  /*background-image: url("./images/sneaker-wall.jpg");*/

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../images/sneaker_wall_background-1.webp"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
  background-origin: padding-box;
  background-attachment: fixed;
  font-size: 26px; 
  font-weight: 1200;
  background-position-y: -45px;
  margin-bottom: -5px; 

  
  
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}


header {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  color:white;
  height: 5%;
  width: 100%;
  margin-top:50px;
  margin-bottom: 50px;
}

main {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  height: 75%;
  width: 100%;
 
 
 
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  width: 100%;
  height: 60%;
}

#bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 90%;
}

#login-or-register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

form {
  min-width: 350px;
  color: white;
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content:flex-end; 
  align-items:center;
  margin-top: 5px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  text-align:left;
  background-color: transparent;
  border: none;
  font-size: medium;
  
}

.messages.show {

  color:white;

}


form h1 {
  font-family: 'League Spartan', sans-serif;
  text-shadow: rgba(255, 255, 255, 0.2) 2px 2px 2px;
  line-height: 1.42;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 330px;
}


button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  width: 150px;
  height: 50px;
  color: black;
  background-color: white;
  border: none;
  margin: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* we may want to restyle the sign-in buttons postion
#sign-in-button {
  margin-top: 70px;
}
*/


input[type='text'] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #232323;
  color: #232323;
  padding-left: 5px;
  background-color: snow;
  font-size: 18px;
  outline: none;;
 
}

input[type='password'] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #232323;
  color: #232323;
  background-color: snow;
  padding-left: 5px;
  font-size: 18px;;
  outline: none;
  
}
  
input:autofill {
    background: #fff;
}
  
  


input: autofill {
  background: #fff;
}


#user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 
.user-card {
  background-color: turquoise;
  width: 300px;
  margin: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.username {
  font-size: 18px;
  margin: 5px 0;
  
}

.default-text {
  margin: 5px 0;
}

#footer {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color:  rgba(238, 238, 238);
  width: 100%;
  height: 25%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
