* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan';
  background-color: #fafafa;
 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


header {
  display: flex; 
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color:black;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
}



h1 {
  font-size: 2.2em;
  background-color: white;
}


#page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large;
  font-weight: 900;
  padding-top: 25px;
  min-height:75px;
  background-color: white;
}


@media screen and (max-width: 1279px) {
  header .left-right-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;

 

  }
}

@media screen and (min-width: 1280px) {
  header .left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 100vw;

  }
}

div.left-right-container {
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;

}

header div.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:flex-end;
  font-size: 20px;
  min-width: 50%;
  min-height: 100%;
  background-color: #fff;

}

header div.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  min-width: 50%;
  min-height: 100%;
  background-color: #fff;

}

#your-closet {
  margin-left: 36px;
  font-size: 30px;
}

input {
  height: 25px;
  width: 250px;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 20px;
  border: 1px solid black;
  padding: 5px;
  
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
  min-height: 100%;
  background-color: #fff;

}

main {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  height:100%;
  width: 99.9%;

  background-color: #fafafa;
  background-size: cover;

}


main image {
  flex-shrink: 0;
}

div.triangle-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
  position: fixed;
  
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    z-index: 0;
  }

main #top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top:150px;
}

#notification-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 16px;
  width: 30%;
  border: solid transparent .25px;
  color: transparent;
}

#notification-window.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid grey .25px;
  color: black;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

#bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height:100px;
}

section.sneakers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 1em;

}

div.shoe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10%
}


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

div.price {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-end;
  color: black;
  font-size: 12px;
  width:100%;
  background-color: white;


}

div.sneaker-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

span.shoe-name {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan';
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  width: 300px;
  background-color: white;
  border-radius: 50%;
}

span.price-title {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-end;
  font-size: 13px;
  color: black;

}

.price {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:flex-end;
  font-size: 12px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-top: 10px;
  width: 150px;
  border-radius: 30%;

}

span.price-title::after {
  content: ":";
}

.price-goat {
  display: flex;
  align-items: flex-end;
  color: green;
  font-family: 'League Spartan';
  margin-left: 3px;
  font-size: 13px;

}

.price-stockx {
  display: flex;
  align-items: flex-end;
  color: red;
  font-family: 'League Spartan';
  margin-left: 3px;
  font-size: 13px;

}
.price-flight-club {
  display: flex;
  align-items: flex-end;
  color:darkorange;
  font-family: 'League Spartan';
  font-size: small;
  margin-left: 3px;
  font-size: 13px;
}

#footer {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color:  rgba(238, 238, 238);
  width: 100%;
  height: 50px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  width: 175px;
}

.invalid-search-input {
  color: red;
}



